<div class="col-md-9 ml-sm-auto col-lg-10 px-md-5 py-4">

  <mat-card>

    <h3>ตารางเรียน</h3>
    <table class="table table-bordered border border-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="text-center">9.00 - 12.00</th>
          <th scope="col" class="text-center">13.00 - 16.00</th>
          <th scope="col" class="text-center">17.00 - 20.00</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Monday</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Friday</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>


  </mat-card>
  <br>
  <br>
  <br>
  <mat-card>
    <div class="row">
      <div class="col-8">


        <h3>ตารางสอบ</h3>
        <table class="table table-bordered border border-dark ">
          <thead>
            <tr>
              <th class="col-2"></th>
              <th class="col-4" >Midterm</th>
              <th class="col-4" >Final</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>bubu101</th>
              <td>Wed : 25/05/2565 : 9.00 - 12.00</td>
            </tr>
            <tr>
              <th>xxxxx</th>
              <td></td>

            </tr>
            <tr>
              <th >xxxxx</th>
              <td></td>
            </tr>
            <tr>
              <th>xxxx</th>
              <td></td>
            </tr>
            <tr>
              <th>xxxx</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>

</div>
